body {
  font-family: 'Roboto', sans-serif;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 480px;

  @media screen and (min-width: $mobile) {
    max-width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }

  &--position {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
    }
  }
}

.centered {
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--padding {
    @media screen and (min-width: $desktop) {
      padding-bottom: 0;
    }
  }

  &--background {
    min-width: 480px;
    background-color: var(--background-button);
  }
}

.section__title {
  margin-bottom: 30px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.167;
  }
}

/* Скрытый заголовок */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
