/* CSS-переменные */
:root {
  --title-text-color: #212121; /* Главный цвет текста  nav h2 h3 */
  --primery-text-color: #757575; /*вторичный цвет текста контакт header*/
  --logo-text-color: #000000; /*лого*/
  --accent-color: #2196f3; /*акцент  лого интерактивный*/
  --white-text-color: #ffffff; /*hero-text logo-footer address-text*/
  --address-text-op60: rgba(255, 255, 255, 0.6);
  --background: #2f303a; /*фон hero footer*/
  --background-button: #f5f4fa; /*фон кнопок и секции Наша команда*/
  --border-project: #eeeeee;
  --icon-color: #afb1b8; /*цвет иконок*/
}